.content {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  min-height: 300px;
  height: auto;
  border-radius: 15px !important;
  margin: 2% auto;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 10px !important;
  background: white;
}

.config-section {
  display: flex;
  align-content: center;
  align-items: center;
}

.config-margin-label {
  float: right;
  border-radius: 4px 4px 0 0;
  margin-top: -15px;
}

.mat-slider-horizontal {
  height: 50px !important;
  width: 200px !important;
}

.mat-card + .mat-card {
  margin-top: 8px;
}

.spacer {
  padding-top: 50px;
}

.responsetime {
  padding: 8px 25px;
  border-bottom: solid 1px #ccc;
  color: white;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: lightseagreen;
}
