mat-card {
  flex-wrap: wrap;
  margin: 0 auto;
  width: 60%;
}

mat-form-field {
  width: 100%;
}

textarea {
  width: 100%;
  min-height:150px;
}
.color {
  background-color: green;
}

mat-spinner {
  margin: auto;
}

.authType {
  width: 20%;
}

.base-type {
  float: right;
  width: 70%;
}

.rest-type {
  float: right;
  width: 50%;
}
.rest-method-type {
  width: 40%;
}

.field-type {
  padding-left: 30px;
  width: 50%;
}

.line{
  width: auto;
  border-bottom: 1px solid grey;
  font-size: 18px;
  color: #3f51b5;
}

.key-field {
  width: 42%;
}

.value-field {
  margin-left: 10px;
  width: 42%;
}

.remove-content {
  width: 90%;
}

.add-content {
  width: 10%;
  float: right;
  margin-top: -48px;
}

.remove {
  margin-left: 32px;
  background-color: red;
  min-width: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 5px;
}

.add {
  min-width: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 5px;
}
