<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="warn">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <img src="assets/Acc_Logo_Black.PNG" class="acn-logo" />
    <span class="spacer"></span>
    <img src="assets/thumbnail_image.png" class="vavatar-logo" />
    <span class="spacer"></span>
    <ul>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="auth/login" routerLinkActive="mat-accent">Login</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="auth/signup" routerLinkActive="mat-accent">Sign Up</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <button mat-button (click)="onLogout()">Logout</button>
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="mat-des-container">
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-nav-list>
      <div *ngIf="userIsAuthenticated">
        <a mat-list-item routerLink="/new-training" routerLinkActive="mat-accent">
          <span class="material-icons">post_add</span>New Training
        </a>
        <a mat-list-item routerLink="/view-training" routerLinkActive="mat-accent">
          <span class="material-icons">view_list</span>View Training
        </a>
        <a mat-list-item routerLink="/priotize-training" routerLinkActive="mat-accent">
          <span class="material-icons">low_priority</span>Priotize Training
        </a>
        <a mat-list-item routerLink="/configure-training" routerLinkActive="mat-accent">
          <span class="material-icons">settings</span>Configure Training
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
