<div class="wrapper">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput [ngModel]="filterValue" (ngModelChange)="applyFilter()" placeholder="Ex. Service name" />
  </mat-form-field>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="table-container mat-elevation-z8" *ngIf="records > 0 && !isLoading">
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="ServiceName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Service Url</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ServiceName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Priotize">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Priotize</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a mat-button color="primary" [routerLink]="['/priotize/', element.ServiceName]">
            <mat-icon>low_priority</mat-icon>
          </a>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Update">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Update</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a mat-button color="accent" href="javascript:alert('Update action is coming soon...!!!');">
            <mat-icon>edit</mat-icon>
          </a>
          <!-- <a mat-button color="accent" [routerLink]="['/edit/', element.id]">
            <mat-icon>edit</mat-icon>
          </a> -->
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Delete">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Delete</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button color="warn" (click)="onDelete(element.ServiceName)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay" class="element-row"></mat-row>
    </mat-table>
    <mat-paginator [length]="records" [pageSize]="trainingsPerPage" [pageSizeOptions]="pageSizeOptions"
      (page)="onChangedPage($event)" *ngIf="records > 0">
    </mat-paginator>
  </div>
</div>